.git
node_modules
build
coverage
docs
src/tests
tmp-test
uploads-test

.vscode
.idea

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.dockerignore
.gitignore
docker-compose.yml
endpoints-insomnia.yml
jest.config.ts
jest.setup.ts
README.md